[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper3k = "*"
lxml = {extras = ["html_clean"], version = "*"}
pytest = "*"

[scripts]
cli = "python main.py"

[dev-packages]

[requires]
python_version = "3.12"
